/* Базовые стили для badge */
.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.70em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: var(--btn-dark-bg);
    color: var(--text-color);
    min-width: 22px;
    min-height: 22px;
    z-index: 9999;
}