.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .grid-auto-col {
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: unset;
  }
  
  /* Общие классы для количества колонок */
.cols-1 { grid-template-columns: repeat(1, 1fr); }
.cols-2 { grid-template-columns: repeat(2, 1fr); }
.cols-3 { grid-template-columns: repeat(3, 1fr); }
.cols-4 { grid-template-columns: repeat(4, 1fr); }
.cols-5 { grid-template-columns: repeat(5, 1fr); }
.cols-6 { grid-template-columns: repeat(6, 1fr); }
.cols-7 { grid-template-columns: repeat(7, 1fr); }
.cols-8 { grid-template-columns: repeat(8, 1fr); }
.cols-9 { grid-template-columns: repeat(9, 1fr); }
.cols-10 { grid-template-columns: repeat(10, 1fr); }
.cols-11 { grid-template-columns: repeat(11, 1fr); }
.cols-12 { grid-template-columns: repeat(12, 1fr); }

/* xs: от 0 до 575px */
@media (min-width: 0) {
    .cols-xs-1 { grid-template-columns: repeat(1, 1fr); }
    .cols-xs-2 { grid-template-columns: repeat(2, 1fr); }
    .cols-xs-3 { grid-template-columns: repeat(3, 1fr); }
    .cols-xs-4 { grid-template-columns: repeat(4, 1fr); }
    .cols-xs-5 { grid-template-columns: repeat(5, 1fr); }
    .cols-xs-6 { grid-template-columns: repeat(6, 1fr); }
    .cols-xs-7 { grid-template-columns: repeat(7, 1fr); }
    .cols-xs-8 { grid-template-columns: repeat(8, 1fr); }
    .cols-xs-9 { grid-template-columns: repeat(9, 1fr); }
    .cols-xs-10 { grid-template-columns: repeat(10, 1fr); }
    .cols-xs-11 { grid-template-columns: repeat(11, 1fr); }
    .cols-xs-12 { grid-template-columns: repeat(12, 1fr); }
}

/* sm: от 576px до 767px */
@media (min-width: 576px) {
    .cols-sm-1 { grid-template-columns: repeat(1, 1fr); }
    .cols-sm-2 { grid-template-columns: repeat(2, 1fr); }
    .cols-sm-3 { grid-template-columns: repeat(3, 1fr); }
    .cols-sm-4 { grid-template-columns: repeat(4, 1fr); }
    .cols-sm-5 { grid-template-columns: repeat(5, 1fr); }
    .cols-sm-6 { grid-template-columns: repeat(6, 1fr); }
    .cols-sm-7 { grid-template-columns: repeat(7, 1fr); }
    .cols-sm-8 { grid-template-columns: repeat(8, 1fr); }
    .cols-sm-9 { grid-template-columns: repeat(9, 1fr); }
    .cols-sm-10 { grid-template-columns: repeat(10, 1fr); }
    .cols-sm-11 { grid-template-columns: repeat(11, 1fr); }
    .cols-sm-12 { grid-template-columns: repeat(12, 1fr); }
}

/* md: от 768px до 991px */
@media (min-width: 768px) {
    .cols-md-1 { grid-template-columns: repeat(1, 1fr); }
    .cols-md-2 { grid-template-columns: repeat(2, 1fr); }
    .cols-md-3 { grid-template-columns: repeat(3, 1fr); }
    .cols-md-4 { grid-template-columns: repeat(4, 1fr); }
    .cols-md-5 { grid-template-columns: repeat(5, 1fr); }
    .cols-md-6 { grid-template-columns: repeat(6, 1fr); }
    .cols-md-7 { grid-template-columns: repeat(7, 1fr); }
    .cols-md-8 { grid-template-columns: repeat(8, 1fr); }
    .cols-md-9 { grid-template-columns: repeat(9, 1fr); }
    .cols-md-10 { grid-template-columns: repeat(10, 1fr); }
    .cols-md-11 { grid-template-columns: repeat(11, 1fr); }
    .cols-md-12 { grid-template-columns: repeat(12, 1fr); }
}

/* lg: от 992px до 1199px */
@media (min-width: 992px) {
    .cols-lg-1 { grid-template-columns: repeat(1, 1fr); }
    .cols-lg-2 { grid-template-columns: repeat(2, 1fr); }
    .cols-lg-3 { grid-template-columns: repeat(3, 1fr); }
    .cols-lg-4 { grid-template-columns: repeat(4, 1fr); }
    .cols-lg-5 { grid-template-columns: repeat(5, 1fr); }
    .cols-lg-6 { grid-template-columns: repeat(6, 1fr); }
    .cols-lg-7 { grid-template-columns: repeat(7, 1fr); }
    .cols-lg-8 { grid-template-columns: repeat(8, 1fr); }
    .cols-lg-9 { grid-template-columns: repeat(9, 1fr); }
    .cols-lg-10 { grid-template-columns: repeat(10, 1fr); }
    .cols-lg-11 { grid-template-columns: repeat(11, 1fr); }
    .cols-lg-12 { grid-template-columns: repeat(12, 1fr); }
}

/* xl: от 1200px и больше */
@media (min-width: 1200px) {
    .cols-xl-1 { grid-template-columns: repeat(1, 1fr); }
    .cols-xl-2 { grid-template-columns: repeat(2, 1fr); }
    .cols-xl-3 { grid-template-columns: repeat(3, 1fr); }
    .cols-xl-4 { grid-template-columns: repeat(4, 1fr); }
    .cols-xl-5 { grid-template-columns: repeat(5, 1fr); }
    .cols-xl-6 { grid-template-columns: repeat(6, 1fr); }
    .cols-xl-7 { grid-template-columns: repeat(7, 1fr); }
    .cols-xl-8 { grid-template-columns: repeat(8, 1fr); }
    .cols-xl-9 { grid-template-columns: repeat(9, 1fr); }
    .cols-xl-10 { grid-template-columns: repeat(10, 1fr); }
    .cols-xl-11 { grid-template-columns: repeat(11, 1fr); }
    .cols-xl-12 { grid-template-columns: repeat(12, 1fr); }
}
  
  .col-1 {
    grid-column: span 1;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-2 {
    grid-column: span 2;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-3 {
    grid-column: span 3;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-4 {
    grid-column: span 4;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-5 {
    grid-column: span 5;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-6 {
    grid-column: span 6;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-7 {
    grid-column: span 7;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-8 {
    grid-column: span 8;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-9 {
    grid-column: span 9;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-10 {
    grid-column: span 10;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-11 {
    grid-column: span 11;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .col-12 {
    grid-column: span 12;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  @media (min-width: 575px) {
    .col-xs-1 {
      grid-column: span 1;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-2 {
      grid-column: span 2;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-3 {
      grid-column: span 3;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-4 {
      grid-column: span 4;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-5 {
      grid-column: span 5;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-6 {
      grid-column: span 6;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-7 {
      grid-column: span 7;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-8 {
      grid-column: span 8;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-9 {
      grid-column: span 9;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-10 {
      grid-column: span 10;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-11 {
      grid-column: span 11;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-xs-12 {
      grid-column: span 12;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  @media (min-width: 768px) {
    .col-sm-1 {
      grid-column: span 1;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-2 {
      grid-column: span 2;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-3 {
      grid-column: span 3;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-4 {
      grid-column: span 4;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-5 {
      grid-column: span 5;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-6 {
      grid-column: span 6;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-7 {
      grid-column: span 7;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-8 {
      grid-column: span 8;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-9 {
      grid-column: span 9;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-10 {
      grid-column: span 10;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-11 {
      grid-column: span 11;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-sm-12 {
      grid-column: span 12;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  @media (min-width: 992px) {
    .col-md-1 {
      grid-column: span 1;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-2 {
      grid-column: span 2;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-3 {
      grid-column: span 3;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-4 {
      grid-column: span 4;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-5 {
      grid-column: span 5;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-6 {
      grid-column: span 6;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-7 {
      grid-column: span 7;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-8 {
      grid-column: span 8;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-9 {
      grid-column: span 9;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-10 {
      grid-column: span 10;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-11 {
      grid-column: span 11;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-md-12 {
      grid-column: span 12;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  @media (min-width: 1200px) {
    .col-lg-1 {
      grid-column: span 1;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-2 {
      grid-column: span 2;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-3 {
      grid-column: span 3;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-4 {
      grid-column: span 4;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-5 {
      grid-column: span 5;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-6 {
      grid-column: span 6;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-7 {
      grid-column: span 7;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-8 {
      grid-column: span 8;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-9 {
      grid-column: span 9;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-10 {
      grid-column: span 10;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-11 {
      grid-column: span 11;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .col-lg-12 {
      grid-column: span 12;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  
  /*# sourceMappingURL=grid.css.map */
  